@{
    ViewBag.Title = "Sobre";
}
<h2>Payment Rating</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>um sistema web com um ranking dos melhores meios de pagamentos com base em avaliações feitas pelos próprios usuários (consumidores). os usuários precisam se registrar para poder interagir entre si e cadastrar novas avaliações, mas se o visitante deseja apenas visualizar, não se faz necessário o registro.</p>

<strong>Code System</strong>

