@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Payment Rating</h1>
    <p class="lead">O Payment Rating é um sistema para que você possa consultar sobre os principais meios de pagamento eletrônicos.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ranking</h2>
        <p>
            Consulte o ranking para ver quais meios de pagamentos recebem mais elogios ou críticas.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Ranking")">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Avaliações</h2>
        <p>Leia as avaliações feitas pelos próprios usuários, esse acesso é totalmente livre. Se desejar registrar uma avaliação, um cadastro de Login será necessário.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Avaliacao")">Veja mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sobre</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="#">Veja mais &raquo;</a></p>
    </div>
</div>